.landing-heading{
    height: 3vw;
    border-bottom: solid 1px;
}

.landing-buttons{
    margin-left: 90vw;
    padding-top: 0.7vw;
    height: 30px;
    width: 150px;
}

.landing-button1{
    height: 30px;
    border-radius: 5px 0px 0px 5px;
}

.landing-button2{
    height: 30px;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

.landing-body{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vw;
}

.login-container{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
}

.login-button{
    font-size: larger;
    border: solid 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.login-button:visited{
    color: black;
}
.login-button:hover{
    background-color: aliceblue;
}

.login-textbox{
    width: 98%;
    height: 1.5vw;
}

form{
    font-size: medium;
}

.login-button2{
    font-size: larger;
    border: solid 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.login-button2:hover{
    background-color: aliceblue;
}